.container {
  width: 500px;
  height: 500px;
  background-color: aqua;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container div {
  width: 200px;
  height: 100px;
  background-color: pink;
  margin-bottom: 20px;
}

.block.stroked {
  width: 195px;
  height: 100px;
  background-color: blue;
  border: 5px black solid;
  margin-bottom: 20px;
}

.rectangle {
  width: 500px;
  height: 100px;
  background-color: rgb(58, 7, 54);
}

.rectangle > .block {
  width: 200px;
  height: 100px;
  background-color: red;
}

.rectangle.stroked {
  width: 200px;
  height: 100px;
  background-color: green;
  margin-top: 20px;
}