body {
  font-family: 'Major Mono Display', monospace;
}

section {
  background: lightgrey;
  margin-bottom: 20px;
  position: relative;
}

.one p:first-of-type {
  position: relative;
  left: 50px;
  top: 800px;
}

.two {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 50%;
}

.three {
  position: relative;
  height: 800px;
}

.three p {
  position: absolute;
  top: 200px;
  right:0px;
  width: 90%;
}