.box1 {
  width: 500px;
  height: 500px;
  background-color: yellow;
  position: relative;

  animation-name: motion;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-delay: 3000ms;
  animation-timing-function: linear;
}

.box2 {
  width: 100px;
  height: 100px;
}

@keyframes motion {
  0% {
    left: 0px;
    transform: rotate(0deg) scale(1);
    background-color: yellow;
  }

  33% {
    left: 500px;
    transform:rotate(180deg) scale(0.5);
  }

  100% {
    left: 0px;
    transform: scale(1) rotate(720deg);
    background-color: red;
  }
}