html, body {
  width: 100%;
  height: 100%;
  background-image: url(images/Flatland.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pepe {
  position: relative;
  top: 300px;
  left: 300px;
  animation-name: walk;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin: 0;
  padding: 0;
}

.pepe > img {
  width: 300px;
  height: 300px;
}

.pepe .hat {
  position: absolute;
  top: -45px;
  left: -4px;
  width: 50px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.pepe .hat > img {
  height: auto;
  width: 300px;
}

.trump {
  position: relative;
  top: -150px;
  left: 0px;
  margin: 0;
  padding: 0;
  animation-name: trump;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.trump .hand {
  position: absolute;
  animation-name: hand;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 500px;
}


.trump .hand img{
  width: 205px;
  top: 8px;
  height: auto;
  z-index: 2;
  position: absolute;

}

.fire {
  position: relative;
  top: -320px;
  left: 400px;
  animation-name: fire;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.trump .body img{
  width: 500px;
  height: auto;
  position: absolute;
  z-index: 0;
}

.police {
  position: relative;
  top: 40px;
  left: 1000px;
  animation-name: police;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.police p {
  opacity: 0;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
  top: -350px;
  left: 0px;
  animation-name: sike;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.police > img {
  transform: scaleX(-1);
  height: 200px;
  width: auto;
}



@keyframes fire {
  0% {
    opacity: 0;
    left: 350px;
  }

  20% {
    opacity: 0;
    left: 350px;
  }


  50% {
    opacity: 0;
    left: 350px;
  }

  60% {
    opacity: 0;
    left: 350px;
  }

  69% {
    opacity: 0;
    left: 350px;
  }

  70% {
    opacity: 1;
    left: 350px;
  }

  85% {
    opacity: 1;
    left: 350px;
  }

  90% {
    opacity: 1;
    left: 700px;
  }


  100% {
    opacity: 1;
    left: 800px;
  }
}

@keyframes walk {
  0% {
    left: 1600px;
  }

  50% {
    left: 700px;
  }

  70% {
    left: 600px;
  }

  80% {
    left: 600px;
  }

  85% {
    left: 600px;
  }

  90% {
    left: 800px;
  }

  100% {
    left: 800px;
  }

}


@keyframes hand {
  0% {
    left: 0;
    transform: rotate(0deg);
  }

  25% {
    left: 50px;
    transform: rotate(0deg);
  }

  50% {
    left: 100px;
    transform: rotate(0deg);
  }

  59% {
    left: 100px;
    transform: rotate(0deg);
  }

  60% {
    left: 100px;
    transform: rotate(60deg);
  }


  80% {
    left: 100px;
    transform: rotate(60deg);
  }

  85% {
    left: 100px;
    transform: rotate(60deg); 
  }

  90% {
    transform: rotate(60deg);
  }

  100% {
    left:0px;
    transform: rotate(720deg);
  }
}

@keyframes police {
  0% {
    left: 1600px;
  }

  50% {
    left: 1600px;
  }

  70% {
    left: 1600px;
  }

  80% {
    left: 1600px;
  }

  85% {
    left: 1600px;
  }

  90% {
    left: 1000px;
  }

  100% {
    left: 1000px;
  }

}

@keyframes sike {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  85% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes trump {
  0% {
    left: -500px;
  }

  50% {
    left: -500px;
  }

  60%{
    left: 0px;
  }

  70% {
    left: 0px;
  }

  80% {
    left: 0px;
  }

  85% {
    left: 0px;
  }

  90% {
    left: 0px;
  }

  95% {
    left: 0px;
    
  }

  100% {
    left: -500px;
}

