article {
  width: 80%;
  color: lightslategrey;
  text-align: center;
  border: 1px solid black;
}

article p {
  max-width: 300px;
  margin: auto;
  text-decoration: underline;
  text-transform: capitalize;
  text-indent: 10px;
  letter-spacing: 5px;
  font-size: 16px;
  line-height: 1.5em;
  word-spacing: 20px;
  border: 1px dotted pink;
  padding: 20px;
  display: inline-block;
}

article div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 300px;
}