body {
  background-color: antiquewhite;
}

.inner {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.inner p {
  font-size: 18px;
}

.inner form {
  margin-bottom: 20px;
}

.inner #btn {
  all: unset;
  padding: 10px 25px;
  background-color: rgb(80, 212, 102);
  box-shadow: 0px 2px 1px 0px rgb(58, 58, 58);
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  transition: 200ms ease;
  margin-bottom: 20px;
}

.inner #reset {
  all: unset;
  padding: 10px 25px;
  background-color: rgb(212, 80, 80);
  box-shadow: 0px 2px 1px 0px rgb(58, 58, 58);
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  transition: 200ms ease;
  margin-bottom: 20px;
  display: block;
  margin: auto;
}

.inner #reset:hover {
  background-color: rgb(240, 145, 145);
  transform: scale(1.01);
}

.inner #btn:hover {
  background-color: rgb(147, 252, 147);
  transform: scale(1.01);
}

.inner #btn:active {
  box-shadow: none;
}

.inner #reset:active {
  box-shadow: none;
}

.inner form input {
  padding: 15px 20px;
  outline: none;
  border: none;
}

.info {
  margin-bottom: 20px;
  font-size: 18px;
}