@import url('https://fonts.googleapis.com/css?family=Anton');

body {
  background: #c94b4b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4b134f,
    #c94b4b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4b134f,
    #c94b4b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Anton', sans-serif;
  color: #fff;
}

.hidden {
  visibility: hidden;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50vw;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word {
  text-align: center;
  margin-top: 100px;
}

.word .letter {
  display: inline-block;
  margin: 20px;
  border-bottom: 4px solid #fff;
  font-size: 80px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  vertical-align: bottom;
  text-transform: uppercase;
}

.loading {
  width: 90%;
  max-width: 600px;
  height: 20px;
  border: 4px solid #fff;
  margin: auto;
  margin-top: 100px;
  position: relative;
}

.loading .bar {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: #fff;
  transition: width 200ms linear;
}

.message {
  text-align: center;
  font-size: 60px;
  margin-top: 100px;
}
