*{
  font-size: 0;
}

header {
  background-color: antiquewhite;
  width: 100%;
  font-size: 16px;
  padding: 10px;
}

header::after {
  content: "";
  clear: both;
  display: table;
}

.wrapperOne {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}


.left {
  width: 40%;
  float: left;
  margin: auto;
  text-align: center;
}

.right {
  width: 40%;
  float: right;
  margin: auto;
  text-align: center;
}

.right ul li {
  display: inline-block;
}