.buttons {
  margin-top: 20px;
}

#travelled {
  margin-top: 20px;
}

.hidden {
  visibility: hidden;
}

#finish {
  display: block;
  margin-top: 5px;
}

#done {
  text-align: center;
  margin-top: 20px;
}