body {
  width: 100%;
  text-align: center;
}

.inner {
  margin: 0 auto;
  width: 800px;
  height: 480px;
  overflow: hidden;
  background-image: url(img/or_as_battle_background_1b__evening__by_phoenixoflight92-d881rst.png);
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
}

.notExist {
  display: none;
}

.wrapper {
}

#fighterFirst {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  left: 0;
  top: 200px;
  position: absolute;
}

#fighterFirst img {
  width: 150px;
  height: 150px;
}

#imageFirst {
  transform: scaleX(-1);
}

.bar {
  width: 100px;
  height: 20px;
  border: 2px solid black;
  margin: auto;
  text-align: left;
  position: relative;
}

.status {
  height: 100%;
  background-color: #14FF05;
}

.pressedFirst {
  animation: fightFirst;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
}

.pressedSecond {
  animation: fightSecond;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
}

.selects {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

select {
  appearance: none;
  -webkit-appearance: none;
  padding: 5px 10px;
  border-radius: 3px;
  text-align: center;
}

.whoWin {
  text-align: center;
  margin-top: 50px;
}

#won {
  font-size: 40px;
  text-transform: uppercase;
}

#fighterSecond {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  position: absolute;
  right: 0;
  top: 200px;
}

#fighterSecond img {
  height: 150px;
  width: 150px;
}

#btn {
  all: unset;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: white;
  border: 2px solid rgb(22, 95, 22);
  cursor: pointer;
}

#reset {
  all: unset;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: rgb(252, 5, 5);
  color: white;
  border: 2px solid rgb(22, 95, 22);
  cursor: pointer;
  margin-top: 1px;
}


@keyframes fightSecond {
  0% {
    right: 0;
  }

  50% {
    right: 300px;
  }

  100% {
    right: 0;
  }
}

@keyframes fightFirst{
  0% {
    left: 0;
  }

  50% {
    left: 300px;
  }

  100% {
    left: 0;
  }
}