*, *::before, *::after:not(.section.second article) {
  box-sizing: border-box;
  word-wrap: break-word;
}

body, html {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-image: url(images/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.inner {
  width: 100%;
}

.inner.color {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px rgba(48, 43, 41, 0.3);
  margin-bottom: 142px;
}

header nav {
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 20%;
  min-width: 130px;
  min-height: 52px;
}

header .leftSide .logo img {
  min-height: 52px;
  min-width: 130px;
}


header nav .rightSide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
}

header .rightSide ul {
  font-size: 17px;
  color: #898283;
  line-height: 52px;
}

header .rightSide ul li,
header .rightSide ul a {
  display: inline-block;
  vertical-align: middle;
}


header .rightSide ul li:not(:last-child) {
  padding: 0 15px;
  transition: 0.2s ease;
}

header .rightSide ul a:last-child {
  line-height: 52px;
}

header .rightSide ul li:not(:last-child):hover {
  transform: scale(1.1);
}

header .rightSide button {
  border: none;
  background-color: #c56c6e;
  color: #fff;
  border-radius: 4px;
  padding: 7px 14px;
  font-size: 17px;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  transform: translateZ(0);
  transition: all 0.2s ease;
  outline: none;
  margin-left: 15px;
}


header .rightSide button:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  top: -10px;
  transform: rotateX(20deg);
}

header .rightSide button:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  background: #898283;
}

header .text {
  margin: auto;
  text-align: center;
  width: 70%;
  position: relative;
  top: 35%;
}

header .text h1 {
  font-size: 70px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  word-wrap: break-word;
}

header .text p {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 87px;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

header .circles {
  position: relative;
  width: 160px;
  height: 160px;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

header .circles .circle {
  background-color: rgba(255, 255, 255, 0.56);
  border-radius: 50%;
}

header .circles .circle.one {
  width: 117px;
  height: 117px;
  position: absolute;
  top:35px;
}

header .circles .circle.two {
  width: 92px;
  height: 92px;
  position: absolute;
  top:0;
  left: 60px;
}

header .circles .circle.three {
  width: 71px;
  height: 71px;
  position: absolute;
  top:55px;
  left: 85px;
}

section.first.inner {
  background-color: #fff;
  box-shadow: 0 1px rgba(48, 43, 41, 0.2);
}

section.first.inner .info {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 65px;
  color: #424242;
}

section.first.inner .info h3 {
  font-size: 35px;
  padding-bottom: 28px;
}

section.first.inner .info p {
  font-size: 15spx;
  padding-bottom: 88px;
  width: 80%;
  margin: 0 auto;
}

.icons {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 53px;
}
.icon {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 10px 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.icon img, .icon .inside {
  transition: 0.4s ease;
}

.icon .appear {
  transition: 0.2s ease;
}

.icon:hover img, 
.icon:hover .inside {
  opacity: 0.25;
}

.icon:hover .appear {
  display: block;
}

.icon .appear {
  display: none;
  position: absolute;
  color: white;
  font-size: 12px;
  padding: 50px 15px;
  text-align: center;
  cursor: inherit;
}

.icon .align {
  display: flex;
  height: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.icon.three .align img {
  transform: translate(7%, 0%)
}

.icon.one {
  background-color: #79b8f2;
}

.icon.two {
  background-color: #8cc03b;
}

.icon.three {
  background-color: #df564b;
}

.icon.four {
  background-color: #cf8e32;
}

section.second {
  margin: 45px auto;
  width: 80%;
}


section.second article {
  display: block;
  margin-bottom: 80px;
  
}

section.second article img {
  margin-right: 25px;
  float: left;
  max-width: 199px;
  max-height: 132px;
  vertical-align: text-top;
}

section.second article h2, p {
  display: block;
  word-wrap: none;
}

section.second article .content {
  text-align: justify;
}

section.second article .content h3 {
  font-size: 27px;
  color: #424242;
  margin-bottom: 20px;
  text-align: left;
}

section.second article .content p {
  font-size: 15px;
  line-height: 22px;
  color: #8b8b8b;
  vertical-align: baseline;
}

footer {
  background-image: url(images/Rectangle\ 1\ copy\ 2.png);
  background-size: cover;
  box-sizing: border-box;
  padding-bottom: 35px;
}

footer .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .wrapper .uls {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
}

footer ul {
  display: inline-block;
  color: #696b6a;
  margin-bottom: 10px;
  margin-right: 5px;
  line-height: 25px;
}

footer .uls ul h3 {
  color: #acacac;
  font-weight: 500;
}

footer .uls ul a {
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
}

footer .uls ul a:hover {
  transform: scale(1.1);
  color: white;
}


footer .wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 35px;
}

footer .soc {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: flex-start;
  width: 30%;
  
}

footer .soc .media {
  border-radius: 50%;
  background-color: #696b6a;
  height: 52px;
  width: 52px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  transition: all 0.2s ease;
}

footer .media:hover {
  transform: scale(1.1);
}

footer .soc .media i {
  color: #2a2c2a;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}


footer .soc .media.fb:hover {
  background-color: #4267B2;
  
}

footer .soc .media.twi:hover {
  background-color: #1DA1F2;
}

footer .soc .media:hover i {
  color: #fff;
}

footer .soc .media.drib i {
  font-size: 33px;
}

footer .soc .media.drib:hover {
  background-color: #EA4C89;
}


footer .soc .media.share {
  margin-right: 0px;
}

footer .wrapper .uls h3 {
  font-size: 21px;
  margin-bottom: 25px;
}

footer .soc .terms {
  color: #696b6a;
  font-size: 15px;
  margin-top: 28px;
}

@media screen and (max-width:605px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}