body {
  background-color: bisque;
  width: 100%;
}

nav {
  background-color: black;
  display: block;
  color: white;
  width: 100%;
  margin-bottom: 80px;
}

nav ul {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  font-size: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  border-right: 1px solid white;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
}

nav ul li:hover {
  border-bottom: 4px solid red;
  padding-bottom: 11px; 
}

main * {
  font-size: 16px;
  text-align: justify;
}

main {
  width: 90%;
  margin: auto;
  max-width: 1000px;
  font-size: 0;
}

main article {
  background-color: white;
  border-radius: 5%;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}

main article h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

main article p {
  line-height: 1.5;
}

article.halfWidth.first {
  margin-right: 2%;
}

article.halfWidth {
  width: 49%;
  display: inline-block;
}

article.thirdWidth {
  display: inline-block;
  width: 32%;
}

article.thirdWidth.middle {
  margin-left: 2%;
  margin-right: 2%;
}

#first {
  border-left: 1px solid white;
}