@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  width: 100%;
  background-color: #f6f9fc;
  font-family: 'Lato', sans-serif;
}
.active {
  color: #bcbcbc;
}
header {
  margin-top: 80px;
}
header .inner {
  width: 80%;
  max-width: 850px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
header .inner .logo {
  font-weight: 700;
  font-style: italic;
  font-size: 42px;
}
nav {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
}
nav a {
  all: unset;
  margin-right: 30px;
  cursor: pointer;
  position: relative;
}
nav a:last-of-type {
  margin-right: 0;
}
nav a:last-of-type::before {
  content: none;
}
nav a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  top: 25px;
  bottom: 0;
  left: 0;
  background-color: #5c6bc0;
  transform: scaleX(0);
  transition: scale 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}
nav a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
section {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0 60px 0;
  background-color: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 50px;
  max-width: 850px;
}
section button {
  all: unset;
  position: absolute;
  top: 20;
  right: -12px;
  padding: 12px 12px;
  background-color: #5c6bc0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
section .inner {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
section .inner .date {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 700;
  color: #bdbdbd;
}
section .inner .content h1 {
  font-size: 40px;
  font-weight: 700;
  position: relative;
  margin-bottom: 100px;
}
section .inner .content h1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
  left: 50%;
  bottom: -50px;
  transform: translate(-50%, -50%);
}
section .inner .content p {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 60px;
}
section .inner .content .bottom {
  display: flex;
  justify-content: space-between;
}
section .inner .content .bottom a {
  all: unset;
  cursor: pointer;
  font-size: 21px;
  text-transform: uppercase;
  color: #616bbc;
  font-weight: 700;
}
section .inner .content .bottom .hash {
  color: #bdbdbd;
  word-spacing: 10px;
}
section.post.two {
  padding-top: 0;
}
section.post.two .img {
  margin: auto;
  text-align: center;
}
section.post.two .img img {
  width: 100%;
  margin-bottom: 20px;
}
section.post.two .quote {
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  color: #848484;
  margin-bottom: 35px;
}
.pages {
  width: 80%;
  margin: auto;
  margin-bottom: 120px;
  text-align: center;
}
.pages .wrap {
  width: 15%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.pages .wrap .btn {
  all: unset;
  font-weight: 700;
  color: black;
  background-color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  transition: all 200ms ease;
}
.pages .wrap .activeBtn {
  background-color: #5c6bc0;
  color: #fff;
  box-shadow: none;
}
footer {
  width: 100%;
  background-color: #5c6bc0;
  text-align: center;
  padding: 60px 0;
}
footer .nunc {
  color: white;
  margin: auto;
  margin-bottom: 80px;
  font-size: 13px;
  width: 60%;
  position: relative;
}
footer .nunc::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #5765B5;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .copy {
  margin-bottom: 35px;
  color: white;
  font-size: 13px;
}
footer .copy span {
  font-weight: 700;
  font-size: 14px;
}
footer .logo {
  font-weight: 700;
  font-style: italic;
  color: #4a569a;
  font-size: 36px;
  margin-bottom: 60px;
}
footer .wrapper {
  margin: auto;
  margin-bottom: 90px;
  width: 70%;
  position: relative;
}
footer .wrapper .foot {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
}
footer .wrapper .foot a {
  all: unset;
  color: #fff;
  cursor: pointer;
  position: relative;
}
footer .wrapper .foot a:last-of-type {
  margin-right: 0;
}
footer .wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #5765B5;
  bottom: -45px;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin: 0 auto;
}
footer .icons a {
  all: unset;
  color: #fff;
  cursor: pointer;
}
footer .icons a i {
  font-size: 25px;
}
