body {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

section {
  background-color: bisque;
  width: 90%;
  max-width: 800px;
  height: 50%;
  min-height: 700px;
  background-image: url(images/shrek.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

p {
  width: 100%;
}

h3 {
  color: chocolate;
  font-size: 16px;
}

#headingOne {
  color: aqua;
  font-size: 32px;
}

.redText {
  color: red;
}