body {
  background-color: #D0E3C4;
}

.chatBox {
  background-color: #F67280;
  border-radius: 10px;
  border-top: 4px solid black;
  width: 600px;
  height: 300px;
  overflow: auto;
  line-height: 2;
  margin-bottom: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

input, select {
  all: unset;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  border-top: 3px solid black;
}

select {
  cursor: pointer;
}

button {
  all: unset;
  color: white;
  padding: 15px;
  border-radius: 5px;
  border-top: 3px solid black;
  background-color: #C05746;
  cursor: pointer;
  margin-top: 10px;
}

table {
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
}

table tr:nth-of-type(odd) {
  background-color: #fff;
}

table tr td {
  padding: 15px 20px;
}