@mainColor: #e5e2;
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.rounded-square(@radius) {
  border-radius: @radius;
  width: 500px;
  height: 500px;
}

body {
  font-family: 'Dancing Script', cursive;
}

.box {
  padding: 50px;
  border: 1px solid gray;
  box-shadow: 2px 4px 10px gray;
  text-align: center;

  h2 {
    color: @mainColor;
    font-size: 32px;
  }

  &.one {
    margin-bottom: 20px;
  }


  &.one p {
    color: @mainColor;
    font-size: 24px;
  }


  &.two {
    .rounded-square(50px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
}