@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body {
  font-family: 'Dancing Script', cursive;
}
.box {
  padding: 50px;
  border: 1px solid gray;
  -webkit-box-shadow: 2px 4px 10px gray;
          box-shadow: 2px 4px 10px gray;
  text-align: center;
}
.box h2 {
  color: #ee55ee 2;
  font-size: 32px;
}
.box.one {
  margin-bottom: 20px;
}
.box.one p {
  color: #ee55ee 2;
  font-size: 24px;
}
.box.two {
  border-radius: 50px;
  width: 500px;
  height: 500px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}
