body {
  font-size: 0;
  text-align: center;
  font-family: 'Staatliches', cursive;
  word-wrap: break-word;
}

header {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-size: 18px;
  overflow: hidden;
  background-color: white;
  padding-bottom: 8px;
  padding-top: 8px;
  vertical-align: middle; 
}

header::after {
  content: "";
  clear: both;
  display: table;
}

.logo.desk {
  float: left; 
  color: black;
  margin-left: 30px;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5em;
  font-size: 24px;
  font-family: 'Major Mono Display', monospace;
}

.logo.mob {
  display: none;
}

.navbar.desk {
  background-color: inherit;
  display: block;
  color: black;
  float: right;
}

.navbar.mob {
  display: none;
}


.navbar ul {
  text-align: center;
  margin-right: 20px;
}

.navbar ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; 
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  padding: 8px 0;
}

.navbar ul li:hover {
  background-color: rgb(241, 239, 239);
  transition-duration: 0.4s;
}

.navbar ul li:last-child {
  border: 1px solid #5DB442;
  color: #5DB442;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 10px;
}

.navbar ul li:last-child:hover {
  color: white;
  background-color: #5DB442;
  transition-duration: 0.4s;
}

/* .navbar ul li a {
  border: 1px solid white;
  padding: 10px 10px;
  text-decoration: none;
  color: inherit;
} */


.main {
  font-size: 16px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  display: inline-block;
}

.section {
  padding-top: 50px;
  background-color: #4CA368;
}

.section h1 {
  font-size: 30px;
  font-weight: 800;
}


.section .info h1, p {
  display: inline-block;
  width: 80%;
  font-family: 'PT Serif', serif;
  text-transform: initial;
}

.section .info p {
  font-size: 16px;
  margin-top: 16px;
  font-weight: 400;
}

.section .image {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 49%;
  max-width: 500px;
  height: 50%;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.section form {
  font-size: 0;
  width:50%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.section form input, button {
  padding: 8px 8px;
  border: 2px solid #37804E;
  border-radius: 25px;
  text-decoration: none;
  margin-bottom: 5px;
}

.section form input {
  width: 40%;
  max-width: 700px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.section form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #37804E;
  color: white;
  cursor: pointer;
}

.signup p {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 300;
}

.container {
  width: 100%;
  background: linear-gradient(-45deg, #FEFEFE 25%, #F0F0F0 25%, #F0F0F0 50%, #FEFEFE 50%, #FEFEFE 75%, #F0F0F0 75%, #F0F0F0 100%);
  background-size: 5px 5px;
  /* background-image: repeating-linear-gradient(
    -45deg,
    #f0f0f0,
    #f0f0f0 2px,
    #ffffff 2px,
    #ffffff 4px /* determines size */
  ); */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.comSignUp {
  width: 80%;
  max-width: 1000px;
  display: inline-block;
  padding-top: 50px;
}
.comSignUp >h2 {
  font-size: 36px;
  color: #5DB442;
}

.wrapper {
  width: 60%;
  background-color: white;
  box-shadow: rgb(212, 211, 211) 0 0 1px 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 58px;
}

.wrapper .fa-chevron-up {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  color: lightgray;
  font-size: 28px;
}

.wrapper .fa-chevron-down {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  color: lightgray;
  font-size: 28px;
}

.wrapper a {
  cursor: pointer;
  text-decoration: none;
}

/* .wrapper .link img {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  fill: #5DB442;
} */

.wrapper .link {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.wrapper .link i {
  display: inline-block;
  font-size: 80px;
  position: relative;
  top: -0.12em;
  color: #5DB442;
  vertical-align: top;
}



.wrapper .ol {
  display: inline-block;
  text-align: left;
  margin-left: 60px;
  vertical-align: top;
  font-family: 'PT Serif', serif;
}

.wrapper .ol h2 {
  color: #5DB442;
  text-transform: uppercase;
  margin-bottom: 15px;
}



.wrapper .ol ol {
  list-style: decimal;
}

.wrapper .ol ol li {
  text-transform: initial;
  padding: 5px;
  font-size: 16px;
}

.icons {
  width: 80%;
  text-align: center;
  margin-bottom: 50px;
  padding: 20px;
  font-size: 0;
  margin-left: auto;
  margin-right: auto;
}

.iconOne,.iconTwo,.iconThree{
  width: 30%;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}

.iconOne i{
  font-size: 32px;
  color: #5DB442;
  border: 3px solid #5DB442;
  padding: 15px;
  border-radius: 50px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: white;
}

.iconOne i:hover {
  color: white;
  background-color: #5DB442;
  transition-duration: 0.4s;
}


.iconTwo i{
  font-size: 32px;
  color: #5DB442;
  border: 3px solid #5DB442;
  padding: 15px;
  border-radius: 50px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: white;
}

.iconTwo i:hover {
  color: white;
  background-color: #5DB442;
  transition-duration: 0.4s;
}

.iconThree i {
  font-size: 32px;
  color: #5DB442;
  border: 3px solid #5DB442;
  padding: 15px;
  border-radius: 50px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: white;
}

.iconThree i:hover {
  color: white;
  background-color: #5DB442;
  transition-duration: 0.4s;
}





@media screen and (max-width: 800px) {
  header {
    position: relative;
    margin: auto;
  }

  .main {
    margin-top: auto;
    text-align: center;
  }

  .navbar.desk {
    display: none;
  }

  .navbar.mob {
    display: block;
  }

  .navbar ul {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  
  .navbar.mob ul li {
    display: block;
    float: none;
    text-align: center;
  }

  .navbar.mob ul li:last-child {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .logo.mob {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    font-family: 'Major Mono Display', monospace;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing:0.5em;
    font-size: 24px;
  }


  .logo.desk {
    display: none;
  }

}



@media screen and (max-width: 380px){
  .iconOne, .iconTwo, .iconThree {
    display: block;
    margin: auto;
  }
  .wrapper .link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .wrapper .ol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
  }
}