body {
  background-color: #F8B195;
}

.chatBox {
  background-color: #F67280;
  border-radius: 10px;
  border-top: 4px solid black;
  width: 600px;
  height: 300px;
  overflow: auto;
  line-height: 2;
  margin-bottom: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

input {
  all: unset;
  background-color: #C06C84;
  padding: 15px;
  border-radius: 5px;
  border-top: 3px solid black;
}

button {
  all: unset;
  color: white;
  padding: 15px;
  border-radius: 5px;
  border-top: 3px solid black;
  background-color: green;
  cursor: pointer;
}