html, body {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

body h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.inner {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.inner form {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
}

.inner form input {
  box-sizing: border-box;
  padding: 5px 10px;
}

.inner .btn {
  all: unset;
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(88, 224, 122);
  cursor: pointer;
  box-shadow: 0 2px 0px 1px rgba(0, 0, 0, 0.479);
  margin-bottom: 20px;
}

.inner .btn:last-of-type {
  background-color: rgb(224, 88, 88);
  margin-left: 20px;
}

.inner .btn:hover {
  background-color: rgb(52, 168, 81);;
}

.inner .btn:last-of-type:hover {
  background-color: rgb(168, 41, 41);
}

.ticket {
  position: relative;
  height: 100%;
  height: 100vh;
}

.ticket .report {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.reactSad {
  position: absolute;
  top: 2000px;
  left: 50%;
  height: 400px;
  width: 400px;
  transform: translateX(-50%);
  background-image: url(img/Emojis_First_-_Ultra_-_083_-_Sad_Police_Man-512.png);
  background-position: center;
  background-size: cover; 
  animation: appear;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.reactHap {
  position: absolute;
  top: 2000px;
  left: 50%;
  height: 400px;
  width: 400px;
  transform: translateX(-50%);
  background-image: url(img/ticket_cop.jpg);
  background-position: center;
  background-size: cover; 
  animation: appear;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    top: 2000px;
  }

  100% {
    top: 100px;
  }
}