:root {
  --bgcolor: #0CB9D8;
  --textclr: #525254;
}

body {
  width: 100%;
  font-family: 'Overpass', sans-serif;
}

header {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-size: 18px;
  overflow: hidden;
  background-color: white;
  padding-bottom: 8px;
  padding-top: 8px;
  vertical-align: middle; 
  font-family: 'Viga', sans-serif;
}

h2 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 5px;
  font-family: 'Kaushan Script', cursive;
}

header::after {
  content: "";
  clear: both;
  display: table;
}

header .wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.logo {
  color: var(--bgcolor);
  display: inline-block;
  align-self: flex-start;
  padding: 5px 0;
  text-transform: capitalize;
  font-size: 24px;
  font-family: 'Shrikhand', cursive;
}

.navbar {
  display: inline-block;
  align-self: flex-end;
}

.navbar ul {
  text-align: center;
  margin-right: 20px;
}

.navbar ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; 
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  padding: 8px 0;
}

.navbar ul li:hover {
  background-color: rgb(241, 239, 239);
  transition-duration: 0.4s;
}

.navbar ul li:last-child {
  border: 1px solid var(--bgcolor);
  color: var(--bgcolor);
  border-radius: 25px;
  box-sizing: border-box;
  padding: 10px;
}

.navbar ul li:last-child:hover {
  color: white;
  background-color: var(--bgcolor);
  transition-duration: 0.4s;
}

section.mission {
  background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/aerial-clouds-dawn-206660.jpg) fixed center no-repeat;
  background-size: cover;
  padding-top: 400px;
  padding-bottom: 30px;
  text-align: center;
}



section .inner  {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}

section .inner h2 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 5px;
  font-family: 'Kaushan Script', cursive;
}

section .inner h2::before, section .inner h2::after {
  content: '\f005';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.4em;
  vertical-align: middle;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

section .inner p {
  font-size: 1.5em;
}

section.about {
  width: 80%;
  background-color: white;
  margin: auto;
  text-align: center;
  padding: 60px 0px;
}

section.about h2{
  color: var(--bgcolor);
  font-size: 35px;
  margin-bottom: 15px;
  margin-top: 5px;
}

section.about p {
  margin-bottom: 15px;
  font-size: 16px;
}

section.team {
  text-align: center;
  background-color: var(--bgcolor);
  color: white;
}

section.team h2 {
  color: white;
  font-size: 35px;
  margin-bottom: 5px;
  padding-top: 50px;
  padding-bottom: 80px;
}

section .members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  padding-bottom: 80px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
 
}

section .members .mem {
  margin: 20px;
  width: 20%;
  text-align: center;
}

section .members .mem > h3, p {
  display: block;
  position: relative;
}

section .members .mem img {
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  width: 150px;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  margin-bottom: 10px;
}




section .members .mem .img img:hover {
  opacity: 0.4;
  transition: 0.4s ease;
}


section .members .mem .img {
  position: relative;
  text-align: center;
}

section .members .mem .img .dog {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0;
}

section .members .mem .img:hover .dog {
  opacity: 1;
  z-index: 2;
}




section .members .mem h3 {
  font-weight: 600;
  text-transform: uppercase;
}

section.team button {
  border: 1px solid white;
  font-size: 16px;
  font-family: 'Viga', sans-serif;
  text-transform: uppercase;
  color: white;
  background-color: var(--bgcolor);
  border-radius: 25px;
  padding: 10px 50px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 50px;
}

section.team button:hover {
  background-color: white;
  color: var(--bgcolor);
  transition-duration: 0.4s;
}

/* section.map {
  background: url(images/Capture.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
} */

footer {
  padding-bottom: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--textclr);
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  /* text-align: center; */

}

footer .wrapper {
  width: 90%;
  border-bottom: 1px solid #6D7075;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px; 
}

footer .iconss {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer .icons {
  display: inline-block;
  width: 45%;
  align-self: center;
}

footer .ul {
  display: inline-block;
  width: 45%; 
  align-self: center;
}


.icons::after {
  content: "";
  clear: both;
  display: table;
}


footer .ul ul li {
  display: inline-block;
  font-size: 26px;
  cursor: pointer;
  padding-right: 10px;
}

footer .ul ul li a {
  text-decoration: none;
  color: inherit;
}

footer .ul ul li a:hover {
  border-bottom: 1px solid white;
}

footer .icon {
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

footer .icon:hover {
  color: var(--textclr);
  background-color: white;
  transition: 0.4s ease;
}

footer .terms {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



footer .terms .last ul li {
  display: inline-block;
  font-size: 0.4em;
  color: #6D7075;
  padding-right: 10px;
  margin-right: 3px;
  border-right: 1px solid #6D7075;
  text-transform: initial;
  cursor: pointer;
}

footer .terms .last ul li:first-child {
  border-left: 1px solid #6D7075;
  padding-left: 10px;
}

footer .terms .last ul li a {
  text-decoration: none;
  color: inherit;
}

footer .terms .last ul li a:hover {
  border-bottom: 1px solid #6D7075;
}


@media only screen and (max-width: 768px) {
  header .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header .wrapper .navbar {
    display: block;
    width: 100%;
  }

  header .wrapper .navbar ul li {
    display: block;
  }

  header .wrapper .logo {
    display: block;
    width: 100%;
    text-align: center;
  }

  section.team .members{
    display: flex;
    flex-direction: column;
    
  }

  section.team .members .mem {
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  section.team .members .mem .img {
    align-self: center;
  }

}





