body {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  padding: 50px 50px 0px 50px;
  background-color: #c8cfdc;
}

header {
  background-color: #fff;
  padding-bottom: 150px;
}

header nav {
  padding: 20px 30px 8px 20px;
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

header .leftSide,
header .leftSide li,
header .leftSide .logo {
  vertical-align: middle;
  display: inline-block;
}

header .leftSide .logo {
  height: 50px;
  margin-right: 30px;
}

header nav .leftSide li {
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
header nav .leftSide a {
position: relative;
}

header nav .leftSide a:not(:last-child) {
  margin-right: 40px;
}

header nav .leftSide a:hover::after { 
  width: 100%;
}

header nav .leftSide a::after {
  content: '';
  width: 0%;
  height: 4px;
  display: block;
  background-color: #089cf0;
  position: absolute;
  left: 0;
  bottom: -35px;
  transition: 200ms ease;
}

header nav .rightSide {
  float: right;
}

header nav .rightSide li {
  display: inline-block;
  vertical-align: middle;
}

header nav .rightSide li,
header nav .rightSide a {
  display: inline-block;
  
}

header nav .rightSide li img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

header nav .rightSide a:not(:last-child) {
  margin-right: 30px;
}

header nav .rightSide a li {
  line-height: 50px;
}

header  * {
  font-size: 16px;
}

header .inner {
  font-size: 0;
}


header .inner {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

header .inner .shoe {
  display: inline-block;
  vertical-align: bottom;
  width: 74%;
  padding-right: 10%;
  box-sizing: border-box;
}

header .inner .details {
  display: inline-block;
  vertical-align: bottom;
  width: 26%;
  
}

header .inner .details .like {
  height: 48px;
  width: 48px;
  border: 1px solid #e4e4e4;
  display: block;
  margin-bottom: 43px;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
}

header .inner .details .like img {
  vertical-align: middle;
}

header .inner .details h2 {
  color: #333;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 16px;
}

header .inner .details h3 {
  color: #333;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 16px;
}

header .inner .details .price {
  color: #666;
  font-size: 18px;
  margin-bottom: 25px;
}

header .inner .details .colors {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
  text-transform: uppercase;
}

header .inner .details .colors span {
  font: inherit;
  color: #0089cf;
  line-height: 1.4;
  margin-bottom: 15px;
}

header .inner .details .box {
  height: 80px;
  width: 80px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin-right: 10px;
  position: relative;
  filter: grayscale(100%);
  display: inline-block;
  margin-bottom: 20px;
}

header .inner .details .box:active {
  filter:none;
}

header .inner .details .box img {
  width: 80px;
  position: absolute;
  left: 50%;
  bottom: 17px;
  transform: translateX(-50%);
}

header .inner .details .size {
  margin-bottom: 25px;
}

header .inner .details select {
  display: inline-block;
  vertical-align: top;
  outline: none;
  font-size: 12px;
  color: #333;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #e4e4e4;
  padding: 20px 60px 20px 20px;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0px;
  font: inherit;
  background-image: url(images/arrow.png);
  background-position: 90% center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  vertical-align: bottom;
  box-sizing: border-box;
} 

header .inner .details button {
  display: inline-block;
  line-height: 1;
  font-size: 12px;
  line-height: 1;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  font: inherit;
  box-sizing: border-box;
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  vertical-align: bottom;
}

.feat1 {
  background-image: url(images/img.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 262px 50px;
  color: #fff;
}

.feat2  {
  background-color: #f5f5f5;
  padding: 60px 50px 50px;
  font-size: 0px;
}

.feat2 * {
  font-size: 16px;
}

.feat2 .leftSide,
.feat2 .rightSide,
.feat2 .middle {
  display: inline-block;
  vertical-align: middle;
}

.feat2 .leftSide {
  width: 34%;
}

.feat2 .middle {
  width: 40%;
}

.feat2 .rightSide {
  width: 26%;
  border: 4px solid #e4e4e4;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px;
}

.feat2 .rightSide h3{
  margin-bottom: 22px;
  font-size: 14px;
  color: #666;
}

.feat2 .rightSide .colors {
  margin-bottom: 50px;
  font-size: 14px;
  color: #0089cf;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.feat2 .rightSide .colors h4 {
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
}

.feat2 .rightSide .shoe {
  margin-bottom: 20px;
}




.feat2 .rightSide .stockPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feat2 .leftSide h4 {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.feat2 .leftSide h2 {
  font-size: 25px;
  color: #333;
  margin-bottom: 30px;
  font-weight: 400;
}

.feat2 .leftSide p {
  font-size: 14px;
  color: #666;
  margin-bottom: 50px;
  line-height: 25px;
}

.feat2 .leftSide  h3{
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

.feat2 .leftSide h5 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 400;
}

.feat2 .leftSide h6 {
  font-size: 12px;
  color: #333;
  margin-bottom: 20px;
}

