body * {
  font-size: 0;
}

body {
  background-image: url(images/1743_green-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 1%;
  width: 70%;
  max-width: 1000px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.158);
}

main article {
  width: 40%;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 2%;
  text-align: justify;
  word-wrap: break-word;
}

main article h2 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 1.1em;
  text-align: left;
}


main article.first {
  background-color: rgb(72, 138, 214);
  padding: 30px;
  margin-left: 5%;
  margin-right: 10%;
}

main article.second {
  background-color: rgb(216, 98, 94);
  padding: 30px;
  margin-right: 5%;
}

main article p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  line-height: 1.5em;
  margin-bottom: 1em;
}

main article p b {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-weight: 800;
}