header {
  width: 100%;
  background-color: black;
  color: blanchedalmond;

}

body {
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 200px;
  background-color: antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

ul {
  list-style-image: url('images/5897ac11cba9841eabab6165.png');
}

table, td, th {  
  border: 1px solid rgb(0, 0, 0);
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(120, 120, 219);
}

th, td {
  padding: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th {
  color: white;
  text-align: center;
  font-size: 15px;
}


tr:nth-child(even) {
  background-color: rgb(104, 98, 197);
}

form {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 2px solid black;
}

.text {
  width: 100%;
  margin: 10px;
  margin-left: 0px;
  padding-top: 10px;
}

.button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-color: rgb(108, 108, 212);
  border: 2px solid black;
  padding: 10px 15px;
  border-radius: 8px;
  position: relative;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 30%;
  position: relative;
  top: 20px;
  right: auto;
  left: 500px;
}

.button:hover {
  background-color: azure;
  color: black;
}

select {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.radio {
  padding-top: 10px;
  position: relative;
  left: auto;
}


