html {
  height: 100%;
}

body {
  font-family: 'Roboto Slab', serif;
  background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/amber-background-bar-1282272.jpg) fixed center no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}


header .inner {
  width: 90%;
  padding: 20px;
  font-size: 15px;
  margin: auto;
  text-align: center;
  padding-bottom: 160px;
}

header .inner nav {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 160px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 33px 0px;
  color: white;
  overflow: auto;
}

nav .leftSide {
  display: inline-block;
}


nav .leftSide .logo {
  height: 50px;
  width: auto;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  padding-right: 25px;
  margin-right: 25px;
  vertical-align: middle;
}

.leftSide .icon {
  width: auto;
  height: 14px;
  margin-right: 8px;
  vertical-align: middle;
}

nav .rightSide {
  float: right;
  vertical-align: middle;
  line-height: 50px;
}

nav .rightSide .sandwich {
  display: none;
}
nav .rightSide ul li {
  display: inline-block;
  text-transform: uppercase;
  line-height: 1;
}

nav .rightSide li:not(:last-of-type) {
  margin-right: 20px;
}

header ul li:last-child {
  background-color: rgb(231, 48, 48);
  border-radius: 3px;
  padding: 15px 20px;
}

.inner h2 {
  font-size: 3em;
  text-align: center;
  width: 90%;
  max-width: 820px;
  margin: auto;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 30px;
  color: white;
}

header .inner button {
  background-color: rgb(231, 48, 48);
  padding: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
}

section {
  width: 100%;
  background-color: white;
}

section .inner {
  width: 90%;
  max-width: 1060px;
  margin: auto;
  padding: 80px 0px 110px 0px;
  font-size: 0;

}

section .inner h3 {
  font-size: 28px;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

section .inner h3::before {
  content: '';
  width: 80px;
  height: 1px;
  background-color: rgb(231, 48, 48);
  display: inline-block;
  position: absolute;

  left: 50%;
  /* margin-left:-40px; */
  transform: translateX(-50%);
  bottom: -20px;
}

section .inner > p {
  width: 90%;
  max-width: 710px;
  text-align: center;
  margin: auto;
  line-height: 1.5;
  color: rgb(231, 48, 48);
  margin-bottom: 70px;
  font-size: 16px;
}

section .inner .third {
  width: 30%;
  display: inline-block;
  text-align: center;
}

section .inner .third.middle {
  margin: 0% 5%;
}

section .inner .third img {
  width: 64px;
  margin-bottom: 20px;
  text-align: center;
}

section .inner .third h4 {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px;
}

section .inner .third > p {
  color: rgb(231, 48, 48);
  font-size: 16px;
  text-align: center;
}

section.colored {
  background-color: rgb(189, 189, 189);
}

section.colored .inner p {
  color: white;
}

section.colored .inner .third img {
  width: 100%;
  margin-bottom: 12px;
}

section.colored .inner .third h4 {
  text-align: left;
  margin-bottom: 8px;
}

section.colored .inner .third p {
  text-align: left;
  font-size: 16px;
} 

.cta {
  background-image: url(images/StockSnap_6VOP7FYDYI.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
  color: #fff;
}

.cta .inner {
  width: 90%;
  max-width: 1060px;
  margin: auto;
  font-size: 0;
}
.cta .inner .leftSide h3 {
  font-size: 32px;
}

.cta .inner .leftSide p {
  font-size: 16px;
  line-height: 1.5;
}

.cta .inner .leftSide {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
}

.cta .inner .rightSide {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  background-color: rgb(231, 48, 48);
  font-size: 16px;
  border: none;
  text-transform: uppercase;
}

footer {
  background-color: antiquewhite;
  width: 100%;
}


footer .inner * {
  font-size: 16px;
}

footer .inner .quarter {
  display: inline-block;
  padding: 20px;
}

footer .inner .quarter li {
  color: black;
}

footer .inner .quarter p {
  color: black;
  line-height: 1.5;
}

footer .inner .quarter h4 {
  font-weight: 600;
}

footer .inner .quarter input {
  width: 100%;
}

/* tablet and phone */

@media (max-width:1190px){
  nav .rightSide ul li {
    display: none;
  }

  nav .rightSide .sandwich {
    display: inline-block;
    color: #fff;
    height: 32px;
    width: 32px;
  }
}

/* only tablet */

@media (min-width:667px) and (max-width:1024px) {

}

/* only phone */
@media (max-width:667px) {

  header nav .leftSide .icon, b {
    display: none;
  }

  section .inner {
    padding: 60px 0px  
  } 

}