@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
  font-family: 'Press Start 2P', cursive;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hidden {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notHidden {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#restart {
  all: unset;
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 3px;
  border: 1px solid black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  background-color: red;
  cursor: pointer;
}

.wrap {
  position: relative;
}

canvas {
  border: 10px solid black;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn {
  all: unset;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  border: 2px solid black;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
}

.input {
  all: unset;
  border: 2px solid black;
  padding: 20px 10px;
  margin: 10px 0;
}

.score {
  margin: 10px 0;
  font-size: 25px;
}

.table {
  position: absolute;
  left: 10%;
  top: 5px;
}