:root {
  --wcw: calc(100vw / 3);
}

html, body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  color: #4d4a58;
}

header {
  background-image: url(img/Layer\ 7.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
}

header nav.mob {
  display: none;
}

header nav.desk {
  width: 40%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 675px; 
  color: #4d4a58;
}


header nav.desk ul {
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}

header nav.desk ul li.scale {
  cursor: pointer;
  transition: 200ms ease;
}

header nav.desk ul li.scale:hover {
  transform: scale(1.1);
}

section.one {
  width: 80%;
  margin: auto;
  text-align: center;
}

section.one .icon {
  margin: auto;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.text {
  width: 90%;
  margin: auto;
}

section.one h3 {
  padding-bottom: 35px;
  font-size: 18px;
  font-weight: 900;
}

section.one p {
  padding-bottom: 140px;
  line-height: 38px;
  font-size: 18px;
  font-weight: 300;
}

/* SECTION TWO STARTS HERE */

section.two {
  width: 100%;
  display: flex;
  flex-direction: row;
}

section.two .left {
  background-image: url(img/Layer\ 10.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 2;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


section.two .right {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-flow: column wrap;
}

section.two .right .img {
  background-image: url(img/Layer\ 11.png);
  background-position: bottom;
  background-size: fill;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 0;
  position: relative;
}


section.two .right .info {
  text-align: center;
  align-self: flex-start;
  position: relative;
  z-index: 100;
}

section.two .right .info::after {
  content: ' ';
  width: 0px;
  height: 0px;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid transparent;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}




section.two .right .info .icon {
  padding: 30px 0px;
}

section.two .right .info h3 {
  padding-bottom: 30px;
  font-weight: 900;
}

section.two .right .info p {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 45px;
  text-align: justify;
  position: relative;
}

section.two .right .info .line {
  margin: auto;
  width: 60px;
  border-top: 1px solid #d7d8d8;
  z-index: -1;
  padding-bottom: 45px;
}

/* SECTION THREE STARTS HERE */

section.three {
  width: 100%;
  display:flex;
  flex-direction: row-reverse;
}

section.three .right {
  background-image: url(img/Layer\ 12.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 2;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.three .left .info {
  text-align: center;
  align-self: flex-start;
  position: relative;
  z-index: 100;
}

section.three .left .info::after {
  content: ' ';
  width: 0px;
  height: 0px;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid transparent;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

section.three .left .info .icon {
  padding: 30px 0px;
}

section.three .left .info h3 {
  padding-bottom: 30px;
  font-weight: 900;
}

section.three .left .info p {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 45px;
  text-align: justify;
  position: relative;
}

section.three .left .info .line {
  margin: auto;
  width: 60px;
  border-top: 1px solid #d7d8d8;
  z-index: -1;
  padding-bottom: 45px;
}

section.three .left .img {
  background-image: url(img/Layer\ 13.png);
  background-position: bottom;
  background-size: fill;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 0;
  position: relative;
}


section.three .left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* SECTION FOUR STARTS HERE */

section.four  {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

section.four .left {
  background-image: url(img/Layer\ 15.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

section.four .middle .info {
  text-align: center;
  align-self: flex-start;
  position: relative;
  z-index: 100;
}

section.four .middle .info::after {
  content: ' ';
  width: 0px;
  height: 0px;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid transparent;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

section.four .middle .info .icon {
  padding: 30px 0px;
}

section.four .middle .info h3 {
  padding-bottom: 30px;
  font-weight: 900;
}

section.four .middle .info p {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 45px;
  text-align: justify;
}

section.four .middle .info .line {
  margin: auto;
  width: 60px;
  border-top: 1px solid #d7d8d8;
  z-index: -1;
  padding-bottom: 45px;
}

section.four .middle .img {
  background-image: url(img/Layer\ 16.png);
  background-position: bottom;
  background-size: fill;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  padding-top: 0;
  position: relative;
}


section.four .middle {
  display: flex;
  flex-direction: column;
  flex: 1;
}

section.four .right {
  background-image: url(img/Layer\ 14.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
}

/* SECTION 5 */

section.five {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  background-color: #f7f7f7;
}

section.five .wrapper {
  width: 80%;
  margin: 0 auto;
}

section.five .wrapper i {
  margin-top: 120px;
  margin-bottom: 40px;
  color: #83c6ec;
  font-size: 30px;
}

section.five .wrapper h3 {
  font-weight: 500;
  font-size: 18px;
  color: #38393b;
  margin-bottom: 30px;
}

section.five .wrapper h3 span {
  font-weight: 300;
  color: #848688;
}

section.five .wrapper p {
  font-weight: 100;
  font-style: italic;
  color: #848688;
  padding-bottom: 180px;
  font-size: 24px;
}

/* SECTION SIX */

section.six {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section.six .overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
  width: 100%;
  background-color: rgba(100, 194, 158, 0.8);
  text-align: center;
  opacity: 0;
  transition: 200ms ease;
  cursor: pointer;
}
section.six .overlay img {
  vertical-align: middle;
  margin-bottom: 13px;
}

section.six .overlay span {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  color: #fcfdfd;
  letter-spacing: .2em;
}


section.six .left .one .leftImg:hover .overlay {
  opacity: 1;
}

section.six .left .one .rightImg:hover .overlay {
  opacity: 1;
}

section.six .left .two:hover .overlay {
  opacity: 1;
}

section.six .middle .one:hover .overlay {
  opacity: 1;
}

section.six .middle .two:hover .overlay {
  opacity: 1;
}

section.six .right .one:hover .overlay {
  opacity: 1;
}

section.six .right .two .rightImg:hover .overlay {
  opacity: 1;
}

section.six .right .two .leftImg:hover .overlay {
  opacity: 1;
}

section.six * {
  position: relative;
}

section.six .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--wcw);
}

section.six .left .one {
  flex: 1;
  display: flex;
  justify-content: center;
}

section.six .left .one .leftImg {
  height: 100%;
  width: 50%;
  background-image: url(img/Layer\ 19.png);
  background-position: center;
  background-size: cover;
}

section.six .left .one .rightImg {
  height: 100%;
  width: 50%;
  background-image: url(img/Layer\ 21.png);
  background-position: center;
  background-size: cover;
}

section.six .left .two {
  background-image: url(img/Layer\ 20.png);
  background-position: center;
  background-size: cover;
  height: 50%;
  width: 100%;
}

section.six .middle {
  flex: 1;
  display: flex;
  height: var(--wcw);
}

section.six .middle .one {
  flex: 1;
  background-image: url(img/Layer\ 22.png);
  background-position: center;
  background-size: cover;
}

section.six .middle .two {
  flex: 1;
  background-image: url(img/Layer\ 25.png);
  background-position: center;
  background-size: cover;
}

section.six .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--wcw);
}

section.six .right .one {
  flex: 1;
  background-image: url(img/Layer\ 23.png);
  background-position: center;
  background-size: cover;
}


section.six .right .two {
  flex: 1;
  display: flex;
  justify-content: center;
  background-image: url(img/Layer\ 26.png);
  background-position: center;
  background-size: cover;
}

section.six .right .two .leftImg {
  height: 100%;
  width: 50%;
  background-image: url(img/Layer\ 24.png);
  background-position: center;
  background-size: cover;
}

section.six .right .two .rightImg {
  height: 100%;
  width: 50%;
  background-image: url(img/Layer\ 26.png);
  background-position: center;
  background-size: cover;
}

/* SECTION SEVEN */

section.seven {
  width: 100;
  position: relative;
  background-color: #2e3338;
  text-align: center;
}

section.seven button {
  margin-top: 75px;
  margin-bottom: 75px;
  padding: 20px 50px;
  border: 1px solid #97999c;
  background-color: #2e3338;
  color: #97999c;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2em;
  transition: 200ms ease;
}

section.seven button:hover {
  background-color: rgb(100, 194, 158);
  border: 1px solid transparent;
  transform: scale(1.1);
  color: #fcfdfd;
}

section.seven button:active {
  transform: scale(1);
}

section.eight {
  width: 100%;
  background-color: #ffffff;
}

section.eight .wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
}

section.eight .wrapper .logo {
  margin-top: 110px;
  margin-bottom: 30px;
}

section.eight .wrapper p {
  margin-bottom: 35px;
  font-style: italic;
  font-size: 24px;
}

section.eight .wrapper form input {
  border: 1px solid #d3d6d8;
  padding-left: 20px;
  /* width: 30%; */
  margin-bottom: 110px;
  margin-right: 10px;
  vertical-align: bottom;
  font-style: italic;
  font-size: 20px;
  outline: none;
}

section.eight .wrapper form {
  display: flex;
  justify-content: center;
}

section.eight .wrapper form button {
  border: 1px solid transparent;
  background-color: #86c19e;
  padding: 20px 40px;
  margin-bottom: 110px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  box-sizing: border-box;
  vertical-align: bottom;
  cursor: pointer;
  transition: 200ms ease;
}

section.eight .wrapper form button:hover {
  background-color: #fff;
  border: 1px solid #86c19e;
  color: #86c19e;
}

/* FOOTER */

footer {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
}

footer .wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

footer .wrapper .left {
  flex: 1;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
}

footer .wrapper .left h3 {
  font-weight: 600;
}

footer .wrapper .middle {
  display: flex;
  justify-content: center;
  flex: 1;
}

footer .wrapper .middle .inner {
  padding: 15px;
  margin: 8px;
  border: none;
  border-radius: 50%;
  max-width: 35px;
  max-height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 200ms ease;
}

footer .wrapper .right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer .wrapper .right p {
  margin-right: 10px;
}

footer .wrapper .middle .inner.twi {
  color: #fff;
  background-color: #95ccee;
}

footer .wrapper .middle .inner.fb {
  color: #fff;
  background-color: #617bba;
}

footer .wrapper .middle .inner.pin {
  color: #fff;
  background-color: #cd5757;
}

footer .wrapper .middle .inner:hover {
  transform: scale(1.1);
}

@media (max-width:820px) {
  header nav.desk {
  display: none;
  }

  header nav.mob {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 675px;
    z-index: 5;
  }

  header nav.mob .inner {
    width: 90%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.281);
    border-radius: 4px;
    border: none;
    margin: 10px auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  header nav.mob .inner img {
    height: 80px;
    width: 80px;
    padding: 5px 0px 5px 10px;
    order: 3;
  }

  header nav.mob .inner .sand {
    color: #86c19e;
    font-size: 30px;
    margin-right: 10px;
  }

  header nav.mob .inner .sand i{
    transition: 500ms ease;
  }


  header nav.mob ul {
    height: 0;
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    text-transform: capitalize;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.281);
    width: 50%;
    transition: 500ms ease;
  }

  header nav.mob ul li {
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: 200ms ease;
    visibility: hidden;

  }

  header nav.mob .wrap {
    z-index: -1;
  }

  header nav.mob ul li:hover {
    background-color: #dadbdb;
  }

  header nav label {
    cursor: pointer;
    transition: 500ms ease;
  }



  #ham {
    display: none;
  }

  #ham:checked ~ ul {
    visibility: visible;
    top: 130px;
  }


  #ham:checked ~ label .sand i {
    transform: rotate(90deg);
  }



  section.two {
    display: flex;
    flex-direction: column;
  }

  section.two .left {
    flex: 1;
  }

  section.two .left img {
    padding: 200px 0px;
  }

  section.two .right .info {
    flex: 1;
  }

  section.two .right .img {
    flex: 1;
    background-size: cover;
    background-position: center;
  }

  /* section three */

  section.three {
    display: flex;
    flex-direction: column;
  }


  section.three .left .info {
    flex: 1;
  }

  section.three .left .img {
    flex: 1;
    background-size: cover;
    background-position: center;
  }

  section.three .right {
    flex: 1;
  }

  section.three .right img {
    padding: 200px 0;
  }

  /* section four */

  section.four {
    display: flex;
    flex-direction: column;
  }

  section.four .left {
    flex: 1;
    padding: 200px 0;
  }

  section.four .middle .img {
    background-position: center;
    background-size: cover;
    flex: 1;
  }

  section.four .right {
    height: 80vh;
    background-position: top;
  }

  /* section six */

  section.six {
    display: flex;
    flex-direction: column;
  }

  section.six .left{
    height: 80vh;
  }

  section.six .middle {
    height: 80vh;
  }

  section.six .right {
    height: 80vh;
  }

  section.eight form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  section.eight .wrapper form input {
    margin-bottom: 20px;
    margin-right: 0;
    padding: 20px 15px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer .wrapper .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }

  footer .wrapper .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }

  footer .wrapper .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  footer .wrapper .right img {
    margin-top: 5px;
  }
}

@keyframes anim {
  0% {
    position: absolute;
    top: 0;
  }

  100% {
    position:  absolute;   
    top: 130px;
    left: 50%;
  }
}
