#result {
  border:  1px solid black;
  background-color: coral;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

input {
  all: unset;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.733);
  padding: 10px 10px;
}

input:last-of-type {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

.inner .right {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.inner button {
  all: unset;
  padding: 15px 20px;
  color: white;
  background-color: coral;
  border: 1px solid black;
  cursor: pointer;
  transition: 200ms ease;
}

.inner button:hover {
  background-color: rgb(248, 93, 36);
}

.hide {
  visibility: hidden;
}