.section {
  width: 600px;
  background-color: blueviolet;
  border: 2px solid black;
}

.box {
  width: 200px;
  height: 200px;
  background-color: brown;
}

.section.one {
  background-color: darkgreen;
}

.section.two .box {
  background-color: dimgrey;
}

section.two .box {
  background-color: red;
}

p {
  background-color: crimson;
  color: bisque;
  width: 500px;
  border: 5px solid black;
  padding: 50px 20px 30px 40px;
  box-sizing: border-box;
  margin: 100px 20px 20px 40px;
}