@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:300,400,700');

html {
  /* font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif; */
}

body {
  width: 100%;
}

header {

  width: 100%;

}

.inner {
  width: 80%;
  margin: 0 auto;
  padding: 105px 0;
}

header nav {
  width: 100%;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.69);
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

header nav .inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0 20px 0;
}

header nav .inner .logo img {
  width: 82px;
  height: 28px;
}

header .inner .menu {
  width: 40%;
}

header .inner .menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .inner .menu ul a {
  transition: 200ms ease;
}

header .inner .menu ul a:hover {
  color: #FFFFFF;
  transform: scale(1.1);
}

header .inner .menu ul a:last-child {
  /* margin-right: 0; */
}

section.one {
  width: 100%;
  margin: 0 auto;
  background-image: url(img/background-hitam-abstrak-14.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

section.one .left {
  width: 60%;
}

section.one .container {
  width: 90%;
}

section.one .left .big {
  margin-bottom: 30px;
}

section.one .left h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 40px;
  padding-bottom: 80px;
  position: relative;
}

section.one .left h1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 40px;
  height: 2px;
  width: 64px;
  background-color: #FFFFFF;
  display: block;
}

section.one .left p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

section.one .inner {
  padding: 110px 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 140px;
}

section.one .right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

section.one .right form {
  all: unset;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #FFFFFF;
  border-radius: 5px;
}

section.one .right form h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  background-color: #F7F7F7;
  font-size: 20px;
  padding: 17.5px 0px;
  text-align: center;
  vertical-align: middle;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

section.one .right form h3 b {
  text-transform: uppercase;
  color: #FF8B39;
}

section.one .right form button {
  all: unset;
  flex: 1;
  width: 100%;
  color: #ffffff;
  text-align: center;
  background-color: #FFAD69;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  margin-top: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: 200ms ease;
}

section.one .right form button:hover {
  background-color: rgb(236, 132, 46);
}



section.one .right form input {
  all: unset;
  padding-top: 45px;
  border-bottom: 1px solid #D6D8D8;
  font-size: 14px;
  padding-left: 14px;
  width: 80%;
  margin: 0 auto;
}

section.one .right form input:last-of-type {
  padding-top: 55px;
}

section.one .left .container button {
  all: unset;
  padding: 13px 30px;
  border: 2px solid #F4F4F4;
  color: #F4F4F4;
  background-color: transparent;
  margin-top: 47px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: 200ms ease;
}

section.one .left .container button:hover {
  color: #000;
  background-color: #F4F4F4;
}

section.two {
  width: 100%;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.26);
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

section.two .inner {
  width: 80%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

section.two .inner .info {
  width: 40%;
}

section.two .inner .info .contain {
  width: 90%;
}

section.two .inner .info h3 {
  font-size: 20px;
  font-weight: 800;
  color: black;
  margin-bottom: 15px;
}

section.two .inner .info p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #85868a;
}

section.two .links {
  font-size: 20px;
  color: #ccc;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 48px;
  flex-wrap: wrap;
}

section.two .links i {
  cursor: pointer;
  transition: 200ms ease;
}

section.two .links .fab.fa-facebook-f:hover {
  color: #4267B2;
}

section.two .links .fab.fa-twitter:hover {
  color: #1DA1F2;
}

section.two .links .fab.fa-google-plus-g:hover {
  color: #D93025;
}


section.two .links .fab.fa-pinterest:hover {
  color: #C00111;
}

section.two .links .ins {
  border-radius: 5px;
}

section.two .links .ins:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) no-repeat center center;
  color: #ffffff;
}


section.two .links .fab.fa-stumbleupon:hover {
  color: #E44723;
}

section.two .links .fas.fa-rss:hover {
  color: #FFAD68;
}


section.three {
  width: 100%;
  background-color: #F5F5F5;
  padding: 145px 0;
  font-family: 'Open Sans', sans-serif;
}

section.three .inner {
  width: 80%;
  display: flex;
  justify-content:  space-between;
  margin: 0 auto;
}

section.three .inner .left {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

section.three .inner .left .box {
  width: 100%;
  height: 33%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #434343;
  color: #ffffff;
  transition: 300ms ease;
  cursor: pointer;
}

section.three .inner .left .box:hover {
  background-color: #FF9F50;
}

section.three .inner .left .box:active {
  background-color: #FF9F50;
}

section.three .inner .left .box:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

section.three .inner .left .box:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


section.three .inner .middle {
  width: 40%;
}

section.three .inner .middle h2 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 50px;
}

section.three .inner .middle p {
  font-size: 14px;
  font-weight: 400;
  color: #85868a;
}

section.three .inner .middle p:first-of-type {
  margin-bottom: 25px;
}

section.three .inner .middle p:last-of-type {
  margin-bottom: 50px;
}

section.three .inner .middle button {
  all: unset;
  font-size: 15px;
  font-weight: 600;
  padding: 18px 30px;
  background-color: #FF9F4F;
  color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  transition: 200ms ease;
}

section.three .inner .middle button:hover {
  transform: scale(1.05);
}

section.three .inner .middle button:active {
  transform: scale(1);
}

section.three .inner .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.four {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

section.four .inner {
  width: 80%;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

section.four .inner .left {
  width: 45%;
  height: 45vh;
  align-self: center;
  background-image: url(img/dark-background-wallpaper.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 25px 61px 0px rgba(0,0,0,0.75);
}

section.four .inner .right {
  width: 40%;
}

section.four .inner .right h3{
  font-size: 20px;
  color: #000;
  font-weight: 800;
  padding-bottom: 60px;
  position: relative;
}

section.four .inner .right h3::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 30px;
  height: 2px;
  width: 60px;
  background-color: #FFB376;
  display: block;
}

section.four .inner .right .top {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #85868a;
  margin-bottom: 50px;
}

section.four .inner .right .oneclass {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #85868a;
  display: flex;
  justify-content: space-between;
}

section.four .inner .right .oneclass h4 {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-bottom: 15px;
}

section.four .inner .right .oneclass .info {
  width: 85%;
}

section.four .inner .right .oneclass p:first-of-type {
  margin-bottom: 40px;
}

section.four .inner .right .oneclass .icon {
  border-radius: 50%;
  color: #e58a40;
  border: 2px solid #e58a40;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.five {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F5F5;
}

section.five .inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

section.five .inner .right {
  width: 40%;
  height: 45vh;
  align-self: center;
  background-image: url(img/thumb-1920-480537.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 25px 61px 0px rgba(0,0,0,0.75);
}

section.five .inner .left {
  width: 60%;
}

section.five .inner .left h3 {
  width: 70%;
  font-size: 20px;
  font-weight: 800;
  color: #000;
  padding-bottom: 60px;
  position: relative;
}

section.five .inner .left  p {
  width: 70%;
  font-size: 14px;
  line-height: 20px;
  color: #85868a;
  font-weight: 400;
}

section.five .inner .left  p:first-of-type {
  margin-bottom: 30px;
}

section.five .inner .left h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 30px;
  height: 2px;
  width: 60px;
  background-color: #FFB376;
  display: block;
}

section.six .inner {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 110px 0;
}

section.six .inner .top h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 60px;
  position: relative;
}

section.six .inner .top p {
  color: #85868a;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 80px;
}

section.six .inner .top h1::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 60px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FF9F50;
}

section.six .inner .bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  color: #85868a;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

section.six .inner .bottom .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

section.six .inner .bottom .box h3 {
  font-size: 20px;
  font-weight: 800;
  color: #000;
  margin-bottom: 30px;
}

section.six .inner .bottom .box .icon {
  width: 65px;
  height: 65px;
  font-size: 32px;
  border-radius: 50%;
  border: 2px solid #FE8A38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FE8A38;
  margin-bottom: 30px;
}

section.seven {
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}


section.seven .inner .top {
  text-align: center;
}

section.seven .inner .top h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 60px;
  position: relative;
}

section.seven .inner .top h1::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 60px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FF9F50;
}

section.seven .inner .top p {
  color: #85868a;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 80px;
}

section.seven .inner .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

section.seven .inner .bottom .box {
  border: none;
  width: 30%;
}

section.seven .inner .bottom .box .name {
  font-weight: 800;
  font-size: 20px;
  padding: 25px 50px;
  color: #ffffff;
  background-color: #424242;
  text-align: center;
  border-bottom: 1px solid white;
}

section.seven .inner .bottom .box .price {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 94px;
  color: #ffffff;
  background-color: #424242;
  text-align: center;
  border-bottom: 1px solid white;
}

section.seven .inner .bottom .box .price b {
  font-size: 34px;
}

section.seven .inner .bottom .box .sub {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  color: #a3a3a3;
  padding: 18px 0;
  text-align: center;
  background-color: #424242;
  position: relative;
}

section.seven .inner .bottom .box .pop {
  height: 8px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-align: center;
  transition: max-height 700ms ease;
  width: 100%;
  background-color: #FF9F50;
}

/* section.seven .inner .bottom .box .pop b {
  position: relative;
  top: 10px;
  transition: 500ms ease;
} */

/* section.seven .inner .bottom .box .pop:hover {
  max-height: 40px;
}

section.seven .inner .bottom .box .pop:hover b {
  top: 0;
} */

section.seven .inner .bottom .box .features ul {
  text-align: center;
  background-color: #ffffff;
}

section.seven .inner .bottom .box .features ul li {
  padding: 12px 0;
  color: #85868a;
  border-bottom: 1px solid #F5F5F5;
}

section.seven .inner .bottom .box.ppl .name {
  border-bottom: none;
}

section.seven .inner .bottom .box.ppl .pop {
  box-sizing: border-box;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.eight .inner .top {
  text-align: center;
}

section.eight .inner .top h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 60px;
  position: relative;
}

section.eight .inner .top h1::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 60px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FF9F50;
}

section.eight .inner .top p {
  color: #85868a;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 80px;
}

section.eight .inner .bottom {
  display: flex;
  justify-content: space-between;
}

section.eight .inner .bottom .box {
  width: 25%;
}


section.eight .inner .bottom .box .text {
  margin-bottom: 23px;
  border: none;
  background-color: #F4F4F4;
  color: #9E9FA1;
  padding: 25px 15px;
  font-size: 14px;
  position: relative;
}


section.eight .inner .bottom .box .text::after {
  content:'';
  width: 0; 
  height: 0; 
  position: absolute;
  bottom: -15px;
  left: 25px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #F4F4F4;
}

section.eight .inner .bottom .box .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.eight .inner .bottom .box .ava {
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  background-color: #999;
  margin-right: 15px;
}

section.eight .inner .bottom .box .name {
  text-align: left;
  flex: 2;
}

section.eight .inner .bottom .box .name h3 {
  font-size: 20px;
  font-weight: 800;
}

section.eight .inner .bottom .box .name b {
  font-size: 14px;
  color: #9E9FA1;
}



section.nine {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section.nine .inner {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 70px 0;
}

section.nine .inner h1 {
  font-size: 36px;
  color: #FFFFFF;
  position: relative;
  padding-bottom: 60px;
}

section.nine .inner h1::after {
content: '';
position: absolute;
height: 1px;
width: 60px;
bottom: 30px;
left: 50%;
transform: translateX(-50%);
background-color: #fff;
}

section.nine .inner p {
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
  margin-bottom: 30px;
}

section.nine button {
  all: unset;
  padding: 13px 30px;
  border: 2px solid #F4F4F4;
  color: #F4F4F4;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Opens Sans', sans-serif;
  cursor: pointer;
  transition: 200ms ease;
}

section.nine button:hover {
  color: #000;
  background-color: #F4F4F4;
}

section.ten .inner {
  text-align: center;
}

section.ten .inner .top h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 60px;
  position: relative;
}

section.ten .inner .top h1::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 60px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FF9F50;
}

section.ten .inner .top p {
  color: #85868a;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 80px;
}

section.ten .inner .bottom form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.ten .inner .bottom form input {
  all: unset;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #bcbcbc;
  width: 90%;
  border-bottom: 1px solid #D6D8D8;
  padding-top: 60px;
  padding-left: 10px;
  text-align: left;
}

section.ten .inner .bottom form .rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

section.ten .inner .bottom form .leftSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

section.ten .inner .bottom form .rightSide textarea {
  resize: none;
  border: none;
  border-bottom: 1px solid #D6D8D8;
  color: #bcbcbc;
  padding-left: 10px;
  height: 13.5em;
  width: 100%;
  max-width: 90%;
  overflow: auto;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

section.ten .inner .bottom form {
  margin-bottom: 40px;
}

section.ten .inner .bottom button {
  all: unset;
  font-family: 'Opens Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  padding: 16px 25px;
  background-color: #FFAC68;
  border-radius: 3px;
  cursor: pointer;
  transition: 200ms ease;
}

section.ten .inner .bottom button:hover {
  background-color: rgb(247, 144, 60);
  transform: scale(1.1);
}

section.ten .inner .bottom button:active {
  background-color: #FFAC68;
  transform: scale(1);
}


footer {
  background-color: #000;
}

footer .inner {
  padding: 20px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.69);
  font-size: 24px;
}

footer .inner .links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  flex-wrap: wrap;
}

footer .inner .links i {
  transition: 200ms ease;
}

footer .inner .links i:hover {
  transform: scale(1.2);
  color: #FFFFFF;
}

@media (max-width:860px) {

  section.one .inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  section.one .inner .left h1::after {
    left: 50%;
    transform: translateX(-50%);
  }

  section.one .inner .left {
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
  }

  section.one .inner .left .container {
    width: 100%;
  }

  section.one .inner .right {
    width: 80%;
  }

  section.three {
    padding: 0;
  }

  section.three .inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }

  section.three .inner .left {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
  }

  section.three .inner .left .box {
    width: 30%;
    height: 20vh;
    border-radius: 4px;
  }

  section.three .inner .middle {
    text-align: center;
    width: 100%;
  }

  section.three .inner .middle button {
    margin-bottom: 25px;
  }

  section.three .inner .right {
    width: 100%;
  } 

  section.three .inner .right .img {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  section.four .inner {
    flex-direction: column;
    align-items: center;
  }

  section.four .inner .left {
    order: 2;
    width: 80%;
  }

  section.four .inner .right {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  section.four .inner .right .top{
    flex: 2;
    text-align: center;
  }

  section.four .inner .right .top h3::after {
    left: 50%;
    transform: translate(-50%);
  }

  section.four .inner .right .func {
    flex: 1;
  }

  section.five .inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.five .inner .left {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }

  section.five .inner .left h3 {
    width: 100%;
  }

  section.five .inner .left h3::after {
    left: 50%;
    transform: translateX(-50%);
  }

  section.five .inner .left p {
    width: 100%;
  }

  section.five .inner .right {
    width: 80%;
  }

  section.six .inner {
    text-align: center;
  }

  section.six .inner .bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.six .inner .bottom .box {
    width: 100%;
    margin-bottom: 20px;
  }
  
  section.seven .inner .bottom .box.ppl {
    order: -1;
  }

  section.seven .inner .bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.seven .inner .bottom .box {
    text-align: center;
    width: 60%;
    padding-bottom: 20px;
  }

  section.eight .inner .bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.eight .inner .bottom .box {
    width: auto;
    margin-bottom: 20px;
  }

  section.ten .inner .bottom form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.ten .inner .bottom form .leftSide {
    width: 100%;
    align-items: center;
  }

  section.ten .inner .bottom form .rightSide {
    width: 100%;
    align-items: center;
  }

  section.ten .inner .bottom form .rightSide textarea {
    padding-left: 10px;
    margin-top: 60px;
    width: 100%;
  }

}

@media (max-width:770px) {


  header nav .inner ul {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
  }

  header nav .inner ul a {
    margin-bottom: 10px;
  }
}

